*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242F46   ;
    min-height: 8vh;
    font-family: 'KoHo', sans-serif;
}   
.logo{
   color:rgb(245, 244, 244);
text-transform: uppercase;
letter-spacing: 2px;
font-size: 30px;


}
.nav-link{
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-link li{
    list-style: none;
}
.nav-link a{
    color:rgb(245, 244, 244);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold ;
    font-size: 15px;

}
.berger{
    display: none;
    cursor: pointer;
}
.berger div{
    width: 25px;
    height: 3px;
    background-color:rgb(245, 244, 244); 
    margin: 6px;
}
@media screen and (max-width:1024px){
    .nav-link{
    width: 60%px;
    
    }
}
 body{
     overflow-x: hidden;
 }
@media screen and (max-width:768px){
   .nav-link{
       position: absolute;
       right: 0;
       height: 92vh;
       top: 8vh;
       background-color: #242F46;
       display: flex;
       flex-direction: column;      
        align-items: center;
      width: 50%;
      transform: translateX(100%);
    }
   .nav-link li{
     opacity: 0;
   }
   .berger{
       display: block;
   }
}