*{
    box-sizing: border-box;
}
body{

    padding: 0px;
    margin:0px;
background: rgb(243, 240, 240);
font-family: 'Saira Condensed', sans-serif;
}
header{
   background: rgb(159, 175, 204);
   height: 66px;
   font-family: 'Saira Condensed', sans-serif;

}
header * {
 color:white;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 3em;
    font-family: 'Quantico', sans-serif;
   
}
  header .logo-text{
      margin: 9px;
      
  }
  header .logo-text span {
   color:rgb(255, 116, 52);
  }
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style:none;
    height: inherit;
    
}
header ul li{
float: left;
position: relative;;
height: inherit;
}
header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    
}
header ul li ul li {
     width: 100%;
}
header ul li ul li a{
    padding: 20px;
    background: white;
    color: rgb(86, 101, 184);
}


header ul li a{
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
  height: inherit;
  
}
header ul li a:hover{
    background: rgba(44, 126, 233, 0.466);  
    transition: 0.5s;
    height: inherit;
}
header .menu-toggle{
    display: none;
}